#header {
    background-color: lightsalmon;
}

#nav {
    background-color: lightgoldenrodyellow;
}

#section {
    background-color: lightpink;
}

body {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    }

    